<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- MY CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- MY FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
    
    <title>HRM Sanur</title>
  </head>
  <body>
    <!-- <section id="Awal">
      <div class="container">
        <div class="row text-center">
          <div class="col">
            <h3 class="textInputNama">Nama kamu siapa?</h3>
          </div>
        </div>
        <div class="row text-center mt-3 inputNama">
          <div class="col-lg-12 col-md-12">
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">Nama:</span>
              <input type="text" class="form-control inputNamaValue" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
          </div>
        </div>

        <div class="row text-center">
          <div class="col">
            <button type="button" class="btn btn-success text-center" onclick="masuk()">Masuk</button>
          </div>
        </div>

        <div class="row text-center">
          <div class="col">
            <p class="webPageText">Web Page HRM Sanur 2021</p>
          </div>
        </div>

      </div>
      </section> -->
    <section id="navbar">
      <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand" href="#">Logo HRM</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="#">Beranda</a>
              <a class="nav-link" href="#">Tentang Kami</a>
              <a class="nav-link" href="#">Kegiatan</a>
              <a class="nav-link" href="#">Anggota</a>
            </div>
          </div>
        </div>
      </nav>
    </div>
    </section>

    <section id="Home">
      <h3 class="welcome text-center"></h3>
      <p class="welcomeP text-center"></p>
      <img src="./IMG/Masjid.png" alt="" class="imgMasjid">

      <p style="margin-left: 50px; margin-right: 40px;" class="nasihat text-center">
        "Pemuda yang hatinya terpaut pada Masjid, akan mendapatkan naungan pada 
        hari dimana tidak ada naungan selain Naungan <span>Allah 'Azza Wa Jalla</span>"</p>
    </section>

    <section id="kedua">
      <div class="container">
        <div class="row text-center kegiatan">
          <div class="col">
            <h3>Program dalam rangka yang akan datang:</h3>
          </div>
        </div>

        <div class="row mt-5 kegiatanRow">
          <div class="col-lg-6 col-md-12">
            <h4 style="color: white; margin-bottom: 30px; padding-top: 30px;">Maulid Nabi</h4>
            <p style="font-size: 15px; color: white;">Dalam rangka menyambut Maulid Nabi Muhammad Shallahu'alaihi Wasallam, kami mengadakan perlombaan antar TPQ, yaitu:</p>
            <div>
              <div>
                <h6 class="float-left" style="color: white;">Agama:</h6>
              </div>
              <div>
                <img src="./IMG/bulat.png" alt="" class="float-left" style="width: 10px; height: 10px;">
                <p style="margin-top: -25px; margin-left: 20px; color: white; font-family: 'Kanit', sans-serif;">Hafalan Surah pendek</p>
              </div>

              <div>
                <img src="./IMG/bulat.png" alt="" class="float-left" style="width: 10px; height: 10px;">
                <p style="margin-top: -25px; margin-left: 20px; color: white; font-family: 'Kanit', sans-serif;">Adzan</p>
              </div>

              <div>
                <img src="./IMG/bulat.png" alt="" class="float-left" style="width: 10px; height: 10px;">
                <p style="margin-top: -25px; margin-left: 20px; color: white; font-family: 'Kanit', sans-serif;">Busana</p>
              </div>

              <h6 class="float-left" style="color: white; margin-top: 30px;">Olahraga:</h6>

              <div>
                <img src="./IMG/bulat.png" alt="" class="float-left" style="width: 10px; height: 10px;">
                <p style="margin-top: -25px; margin-left: 20px; color: white; font-family: 'Kanit', sans-serif;">Balap Karung</p>
              </div>

              <div>
                <img src="./IMG/bulat.png" alt="" class="float-left" style="width: 10px; height: 10px;">
                <p style="margin-top: -25px; margin-left: 20px; color: white; font-family: 'Kanit', sans-serif;">Mewarnai/Menggambar</p>
              </div>

              <div>
                <img src="./IMG/bulat.png" alt="" class="float-left" style="width: 10px; height: 10px;">
                <p style="margin-top: -25px; margin-left: 20px; color: white; font-family: 'Kanit', sans-serif;">Kelereng</p>
              </div>

              <div>
                <img src="./IMG/bulat.png" alt="" class="float-left" style="width: 10px; height: 10px;">
                <p style="margin-top: -25px; margin-left: 20px; color: white; font-family: 'Kanit', sans-serif;">Menghias Telur</p>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-12">
            <h4 style="color: white; margin-bottom: 30px; padding-top: 30px;">Bakti Sosial</h4>
            <p style="font-size: 15px; color: white;">Kami rencana mengadakan Bakti Sosial di bulan Desember 2021 yang akan datang ini, guna membantu mereka yang membutuhkan.</p>
            <h6 class="float-left" style="color: white;">Pendanaan:</h6>
            <div>
              <img src="./IMG/bulat.png" alt="" class="float-left" style="width: 10px; height: 10px;">
              <p style="margin-top: -25px; margin-left: 20px; color: white; font-family: 'Kanit', sans-serif;">Sebar amplop pada saat Shalat Jum'at</p>
            </div>
            <div>
              <img src="./IMG/bulat.png" alt="" class="float-left" style="width: 10px; height: 10px;">
              <p style="margin-top: -25px; margin-left: 20px; color: white; font-family: 'Kanit', sans-serif;">menerima pengumpulan baju / celana bekas yang layak pakai</p>
            </div>
            <div>
              <img src="./IMG/bulat.png" alt="" class="float-left" style="width: 10px; height: 10px;">
              <p style="margin-top: -25px; margin-left: 20px; color: white; font-family: 'Kanit', sans-serif;">menerima sumbangan bantuan berupa sembako</p>
            </div>
          </div>

          <div class="row text-center kegiatan mt-5">
            <div class="col">
              <p>*Program disini selalu di perbarui</p>
            </div>
          </div>

        </div>
      </div>
      
    </section>

    <!-- Optional JavaScript; choose one of the two! -->
    <script src="./back.js">sdfdf</script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
  </body>
</html>